body {
    width: 100%;
    heigth: 100%;
    background-color: #FAFAFA;
}

.center {
	height: 75%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    img {
    	margin: 0 auto;
    }
}

article {
    text-align: center;
}
